/* Need Help? Join my discord @ discord.gg/yWddFpQ */
:root {
    --background-contrast: 95%;
    --background-blur: 5px;
    --loadbar-color: #04c0f95b;
    --loadbar-progress-color: #0957ffb0;
    --loadbar-height: 27px;
    --footer-font-color: #0044ff98;
    --footer-font-size: 24px;
    --fadeTo-Color: #0062ff;
}
